.git
.github
.idea
.vscode
.cursor
.env
.env.backup
.env.production
node_modules
vendor
tests
phpunit.xml
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*.php
public/hot
public/storage
Thumbs.db
.DS_Store
